<section>
    <div class="px-4 py-[75px] bg-lightGray md:px-10 md:py-[150px]">
        <h3 class="flex flex-col gap-5 text-[26px] tracking-[0.3px] mb-[60px] md:text-[35px] md:tracking-[1.75px] md:leading-[41px]">
        	{{ block_title }}
        </h3>
        <div class="grid grid-cols-2 gap-2 md:grid-cols-6 md:gap-10">
        	{% for customer in customers %}
        	<a href="/projekte?customer={{ customer.customer_name }}">
            <picture>
              <source srcset="{{ customer.logo['large_webp'] }}" media="only screen and (max-width: 450px)" type="image/webp" >
              <source srcset="{{ customer.logo['large_jpg'] }}" media="only screen and (max-width: 450px)" type="image/jpeg" >
              <source srcset="{{ customer.logo['original_webp'] }}" media="only screen and (min-width: 450px)" type="image/webp">
              <source srcset="{{ customer.logo['original_jpg'] }}" media="only screen and (min-width: 450px)" type="image/jpeg">
              <img class="w-full h-full" src="{{ customer.logo['original_jpg'] }}" alt="{{ customer.logo_alt }}">
            </picture>
        	</a>
        	{% endfor %}
        </div>
    </div>
</section>
