
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.node_id }}
<div class="flex flex-col gap-4">
	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-x-10">
		{{ form.name }}
		{{ form.surname }}
	</div>
	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-x-10">
		{{ form.email }}
		{{ form.phone }}
	</div>
	{{ form.message }}
</div>
<div class="mt-[66px] md:mt-[60px] text-[14px] leading-[18px] tracking-[0.7px] flex flex-col gap-3 " id="file-upload-section">
	{{ form.file }}
</div>
{{ form.policy_checkbox }}
{{ form.actions.submit }}
