{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.node_id }}
<div class="flex flex-col gap-4">
	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-x-10">
		{{ form.name }}
		{{ form.surname }}
	</div>
	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-x-10">
		{{ form.email }}
		{{ form.phone }}
	</div>
	{{ form.message }}
</div>
<div class="mt-[60px] flex flex-col gap-3 text-sm" id="file-upload-section">
	{{ form.file }}
</div>
{{ form.policy_checkbox }}
{{ form.actions.submit }}

{% if form.submission_text %}
	<div class="bg-lightGray mt-[70px] px-4">
		<div class="w-[339px] md:w-[656px] font-bold text-[14px]">
			<div class="w-full ">
				{{ 'Vielen Dank für Deine Bewerbung!'|t }}
			</div>
			<div class="w-full ">
				{{ 'Wir werden Deine Bewerbung schnellstmöglich bearbeiten und uns melden.'|t }}
			</div>
			<div class="w-full ">
				{{ 'Dies kann jedoch auch einmal einige Tage dauern'|t }}
			</div>
		</div>
{% endif %}
