{% set counter = 1 %}

<section>
  <div class="bg-darkBlue px-4 pt-[96px] pb-[100px] md:pt-[150px] md:px-10 md:pb-[150px] text-white">
    <div class="text-fade mb-[75px] md:mb-[150px]">
      <h2 class="text-content-fade  flex flex-col gap-[22px] md:gap-[20px]  headline-large">
        <span class="md:text-[16px] md:leading-[21px] md:tracking-[0.8px] tracking-[0.55px] text-[11px] leading-[15px]">{{ title }}</span>
        {{ slogan }}
      </h2>
    </div>
    <div class="grid grid-cols-1 gap-[100px] md:gap-x-10 md:gap-y-[190px] md:grid-cols-2">
      {% for service in services %}
          <div class="flex flex-col items-center  gap-10 md:flex-row">
            <div class="fade-in-image-container min-w-[250px] w-4/5 h-[33vh] md:min-w-[150px] md:mb-[50px] md:h-full relative"><img class=" w-full h-full fade-in-image" src="{{ file_url(service.service_image) }}" alt=""></div>
            <div class="text-fade" style="overflow:visible;">
              <div class="text-content-fade text-[15px] leading-[22px] tracking-[0.75px] md:max-w-[32vw]">
                <div class="absolute  text-[233px] tracking-[11.65px] leading-[303px] opacity-10 bottom-[85px] md:bottom-0 left-1/2 -translate-x-1/2 md:-translate-y-1/2 md:top-0 md:left-0 md:-translate-x-2/3 font-['halbfett']">{{ counter }}</div>
                <h4 class="headline-medium">{{ service.title }}</h4>
                <p class="mt-[18px] pb-[56px] paragraph-text">{{ service.summary.0.value|striptags }}</p>
                <a class="flex items-center gap-3 group" href="{{path('entity.node.canonical', {'node': service.nid})}}">
                  <img src="/{{ base_path ~ directory }}/images/arrow-textlinks.svg" alt="">
                  <span class="group-hover:text-mainRed text-[15px] tracking-[0.75px] leading-[12px] ">{{ service.link_text }}</span>
                </a>
              </div>
            </div>
          </div>
          {% set counter = counter + 1 %}
      {% endfor %}
    </div>
  </div>
</section>
