<div class= "flex flex-col mt-[212px] md:max-w-[842px]  mx-auto md:mt-[62px] ">
	<div class='hidden flex flex-col  mb-4 items-center  justify-center md:mb-10 md:flex-row-reverse' id="clear-projects">
		<button class='flex rounded-3xl px-5 items-center h-[50px] md:max-w-[250px] gap-9  border-2 border-mainBlack mb-4 md:mb-0' id="all-projects">
			<span class='text-[15px] leading-[22px] tracking-[0.75px]'>{{ 'Alle Filter löschen' | t }}</span>
			<img src="modules/custom/projects/images/black-close-filter.svg" class="w-[15px]" aria-hidden="true" />
		</button>
		<div class="flex flex-col flex-wrap max-w-3xl gap-2  md:flex-row" id="curent-projects"></div>
	</div>
		<div id="container" class="flex px-4 md:px-0  flex-col items-center gap-4 md:gap-[45px]   mb-[42px] md:flex-row md:justify-center">
			<div id="building-container" class="project-dropdown cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex justify-between items-center md:max-w-[250px] building-drop">
				<div class="w-9/12 ml-5 paragraph-text overflow-hidden capitalize whitespace-nowrap text-ellipsis" id="building">{{ 'Gebäudeart' | t }}</div>
				<button><img class="mr-5 rotate" src="modules/custom/projects/images/arrow-open-close-content.svg" alt=""></button>
				<ul class="absolute z-50 hidden w-full overflow-hidden  top-full rounded-b-3xl" id="building-dropdown">
					{% for buildings in building %}
						<li class="flex  items-center justify-between px-5 py-3 border-t border-white group bg-lightGray gap-[5px]" data-value="{{ buildings.name|lower }}">
							<span class="group-hover:text-mainRed break-words overflow-auto font-['buch'] group-item" href="#">{{ buildings.name }}</span>
							<div class="hidden w-[14px] img-div">
								<img class="min-w-[14px] min-h-[11px]" src="modules/custom/projects/images/check.svg"/>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="service-container" class="project-dropdown cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex justify-between items-center md:max-w-[250px] service-drop">
				<div class="w-9/12 paragraph-text ml-5 overflow-hidden capitalize whitespace-nowrap text-ellipsis" id="service">{{ 'Leistung' | t }}</div>
				<button><img class="mr-5 rotate" src="modules/custom/projects/images/arrow-open-close-content.svg" alt=""></button>
				<ul class="absolute z-50 hidden w-full overflow-hidden  top-full rounded-b-3xl" id="service-dropdown">
					{% for services in service %}
						<li class="flex  items-center justify-between px-5 py-3 border-t border-white group bg-lightGray gap-[5px]" data-value="{{ services.name|lower }}">
							<span class="group-hover:text-mainRed break-words overflow-auto font-['buch'] group-item" href="#">{{ services.name }}</span>
							<div class="hidden w-[14px] img-div">
								<img class="min-w-[14px] min-h-[11px]" src="modules/custom/projects/images/check.svg"/>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="sector-container" class="project-dropdown cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex justify-between items-center md:max-w-[250px] sector-drop">
				<div class="w-9/12 ml-5 paragraph-text overflow-hidden capitalize whitespace-nowrap text-ellipsis" id="sector">{{ 'Branche' | t }}</div>
				<button><img class="mr-5 rotate" src="modules/custom/projects/images/arrow-open-close-content.svg" alt=""></button>
				<ul class="absolute z-50 hidden w-full overflow-hidden  top-full rounded-b-3xl" id="sector-dropdown">
					{% for sectors in sector %}
						<li class="flex  items-center justify-between px-5 py-3 border-t border-white group bg-lightGray gap-[5px]" data-value="{{ sectors.name|lower }}">
							<span class="group-hover:text-mainRed break-words overflow-auto font-['buch'] group-item" href="#">{{ sectors.name }}</span>
							<div class="hidden w-[14px] img-div">
								<img class="min-w-[14px] min-h-[11px]" src="modules/custom/projects/images/check.svg"/>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
</div>
<div class="output grid grid-cols-1 gap-[70px] md:px-11 px-4 mb-[70px] md:mb-[106px] md:grid-cols-2 md:gap-[41px]"></div>
