<section {{ attributes }}> 
{{ title_suffix }}
   <div class="text-white bg-darkBlue text-fade">
      <div class="text-content-fade flex flex-col items-center justify-center px-4 py-[75px] text-center md:max-w-[816px] md:mx-auto md:py-[150px]">
         <blockquote class="text-[35px] tracking-[1.75px] leading-[43px] mb-[100px] md:text-6xl md:tracking-[3px] md:leading-[70px] md:mb-28 ">
            <q>{{ content.field_motto.0}}</q>
         </blockquote>
            <a href="{{ content.field_motto_link.0["#url"] }}" class="flex items-center gap-5 text-[15px] hover:text-mainRed font-['buch']">
               <img class="w-5" src="/{{ base_path ~ directory }}/images/arrow-textlinks.svg" alt="">
                  {{ content.field_motto_link.0['#title'] }}
            </a>
      </div>
   </div> 
</section>