<section class="text-fade">
        <div class="text-content-fade flex flex-col justify-center px-4 py-[75px] md:py-[150px] md:w-[60%] md:mx-auto">
            <h2 class="text-[26px] tracking-[1.3px] leading-none flex flex-col gap-5 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
                <span class="text-[13px]">{{ content.field_slogan.0 }}</span>
                {{ content.field_title[0]['#text'] | striptags }}
            </h2>
            <p class="text-[15px] leading-[22px] tracking-wide mt-[60px] mb-[100px]">
                {{ content.field_paragraph[0] }}
            </p>
            <a class="w-fit group relative h-10 flex gap-4 z-10 pr-6 items-center rounded-[40px] overflow-hidden" href="{{ content.field_link_cta[0]['#url']}}">
                <span class="absolute left-0 top-0 -z-10 h-full w-0 rounded-[40px] bg-mainRed group-hover:w-full"></span>
                <span class="flex items-center justify-center h-full rounded-full aspect-square bg-mainRed"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                {{ content.field_link_cta[0]['#title'] }}
            </a>
        </div>
</section>
