{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - content.field_directors_title: Block title
 * - content.field_directors_description: Description
 * - content.field_directors_image: Image
 * - content.field_directors_director: List of directors
 *
 */
#}
<section {{ attributes }}> 
{{ title_suffix }}
  <div class="flex flex-col lg:flex-row lg:gap-[90px]">
    <div class="fade-in-image-container relative w-full  lg:w-1/2">
      <picture>
        <source srcset="{{ file_url(content.field_directors_image.0['#item'].entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp" >
        <source srcset="{{ file_url(content.field_directors_image.0['#item'].entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
        <img src="{{ file_url(content.field_directors_image.0['#item'].entity.uri.value) }}" alt="{{ content.field_directors_image.0['#item'].alt }}" class="w-full  fade-in-image">
      </picture>
    </div>
    <div class="text-fade px-4 py-[75px] lg:py-0 lg:px-10 lg:my-auto lg:w-1/2">
      <div class="text-content-fade">
        <h3 class="mb-[50px] md:mb-[41px] headline-large ">{{ content.field_directors_title.0 }}</h3>
        <div class="paragraph-text">
          <p class="mb-[25px]">{{ content.field_directors_description.0 }}</p>
          <div class="flex flex-col gap-[25px]">
          {% for item in content.field_directors_director['#items'] %}
            <p>{{ item.value }}</p>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
