<div class="flex flex-col md:flex-row md:items-center md:justify-between md:gap-8">
    <div class="flex gap-8 mb-8 md:m-0">
        {% for paragraph in content.field_social_menu %} 
            {% if paragraph['#paragraph'] %}
            <a href="{{ paragraph['#paragraph'].field_social_link.0.value.uri }}" class="flex group justify-center items-center w-[50px] aspect-square rounded-full bg-white hover:scale-110">
                <img class="group-hover:scale-90" src="{{file_url(paragraph['#paragraph'].field_social_icon.entity.uri.value)}}" alt="">
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="flex gap-[52px] mb-[74px] md:m-0">
        {% for paragraph in content.field_footer_bottom_nav %} 
            {% if paragraph['#paragraph'] %}
                <a class="text-[15px] leading-[19px] tracking-[0.75px] hover:text-mainRed" href="{{ paragraph['#paragraph'].field_footer_bottom_nav_link.0.value.uri }}" >{{ paragraph['#paragraph'].field_footer_bottom_nav_link.0.value.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <span class="block text-[15px] leading-[19px] tracking-[0.75px] opacity-50 mb-[60px] md:m-0">{{content.field_copyright[0]}}</span>
    <a class="block" href="{{content.field_footer_image_link[0]['#url']}}"><img class="w-1/2 md:w-full" src={{ file_url(content.field_footer_image['#items'].entity.uri.value) }} alt=""></a>
</div>