{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<section>
            <div class="flex flex-col md:flex-row">
                <div class="fade-in-image-container relative h-[50vh] w-full md:w-[50vw] md:h-screen">
                    <img class="h-full w-full object-cover fade-in-image" src="{{ file_url(content.field_image.0['#item'].entity.uri.value) }}" alt="">
                </div>
                <div class="px-4 py-20 md:pl-[100px] md:pr-20 md:py-40 md:w-1/2 md:flex md:flex-col md:justify-center">
                    <div class="text-fade mb-20">
                        <h3 class="text-content-fade text-[26px] tracking-[1.3px] leading-none flex flex-col gap-5 md:gap-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
                            <span class="text-[13px] leading-[15px] tracking-[.65px]">{{ content.field_slogan }}</span>
                            {{ content.field_title }}
                        </h3>
                    </div>
                    <ul class="flex flex-col gap-7 text-[15px] leading-[22px] tracking-[0.75px]">
                        {% for paragraph in content.field_accordion_title %}
			    {% if paragraph['#paragraph'] %}
			      <li class="flex flex-col gap-8 dropdown-karriere-container">
				<div class="flex gap-9 items-center dropdown-karriere cursor-pointer">
				  <img class="dropdown-image" src="/{{ base_path ~ directory }}/images/arrow-open-close-content.svg" alt="">
				  <h5>{{ paragraph['#paragraph'].field_accordion_title.value }}</h5>
				</div>
				<div class="dropdown-content-karriere">
				  {{ paragraph['#paragraph'].field_accordion_body.value | striptags }}
				</div>
			      </li>
			    {% endif %}
			 {% endfor %}
                    </ul>
                </div>
            </div>
</section>

