{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set caunter = 0 %}

<section {{ attributes }}>
	{{ title_suffix }}
	<div class=" py-[75px] md:py-[150px]">
		<div class="text-fade px-4 md:px-10 ">
			<h3 class="text-content-fade mb-[50px] text-[26px] tracking-[1.3px] leading-none md:text-[35px] md:leading-10 md:tracking-[1.75px]">
				{{ content.field_team_gallery_title }}
			</h3>
		</div>
		<div class="flex flex-col gap-[50px]  md:gap-[190px]">
			{% for paragraph in content.field_paragraph_team_gallery %}
				{% if paragraph['#paragraph'] %}
					{% set caunter = caunter + 1 %}
					{% if caunter is odd %}
						<div class="flex items-center gap-[50px] sm:gap-[75px] md:h-screen  pl-4 md:gap-[150px] md:pl-10">
							<div class="w-[71%] h-[25vh] md:h-[60%]">
								{% if paragraph['#paragraph'].field_team_gallery_image.0  %}
									<div class="fade-in-image-container relative h-full w-full">
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.0.0.alt }} ">
										</picture>
									</div>
								{% endif %}
							</div>
							<div class="flex flex-col x w-full gap-[50px] h-full sm:gap-[100px] md:gap-[200px]">
								{% if paragraph['#paragraph'].field_team_gallery_image.1  %}
									<div class="w-4/5 md:h-full h-[17vh]">
										<div class="fade-in-image-container relative h-full w-full">
											<picture>
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
												<img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.1.0.alt }} ">
											</picture>
										</div>
									</div>
								{% endif %}
								{% if paragraph['#paragraph'].field_team_gallery_image.2  %}
									<div class="md:h-full h-[20vh]">
										<div class="fade-in-image-container relative w-full h-full">
											<picture>
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
												<img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.2.0.alt }} ">
											</picture>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					{% else %}
						<div class="flex items-center gap-[50px] md:h-screen sm:gap-[75px] pr-4 md:gap-[150px] md:pr-10">
							<div class="flex flex-col x w-full h-full gap-[50px] sm:gap-[100px] md:gap-[200px]">
								{% if paragraph['#paragraph'].field_team_gallery_image.0  %}
									<div class="w-4/5 md:h-full h-[17vh] self-end">
										<div class="fade-in-image-container relative h-full w-full">
											<picture>
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
												<img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.0.0.alt }} ">
											</picture>
										</div>
									</div>
								{% endif %}
								{% if paragraph['#paragraph'].field_team_gallery_image.1  %}
									<div class="md:h-full h-[20vh] ">
										<div class="fade-in-image-container relative w-full h-full">
											<picture>
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
												<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
												<img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.1.0.alt }} ">
											</picture>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="w-[71%] h-[25vh] md:h-[60%]">
								{% if paragraph['#paragraph'].field_team_gallery_image.2  %}
									<div class="fade-in-image-container relative h-full w-full">
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.2.0.alt }} ">
										</picture>
									</div>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>