{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set caunter = 0 %}

<section {{ attributes }}>
	{{ title_suffix }}
	<div class=" py-[75px] md:py-[150px]">
		<div class="text-fade px-4 md:px-10 ">
			<h3 class="text-content-fade mb-[50px] headline-large ">
				{{ content.field_team_gallery_title }}
			</h3>
		</div>
		<div class="flex flex-col gap-[50px] md:gap-[190px]">
			{% for paragraph in content.field_paragraph_team_gallery %}
				{% if paragraph['#paragraph'] %}
					{% if  paragraph['#paragraph'].field_team_gallery_align.value == 0 %}
						<div class="flex items-center gap-10 pl-4 md:gap-[150px] md:pl-10">
							<div class="w-[51.6%]">
								{% if paragraph['#paragraph'].field_team_gallery_image.0  %}
									<div class="fade-in-image-container relative w-full">
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.0.0.alt }} ">
										</picture>
									</div>
								{% endif %}
							</div>
							<div class="flex flex-col w-full gap-[55px] md:gap-[200px]">
								<div class="fade-in-image-container relative">
									{% if paragraph['#paragraph'].field_team_gallery_image.1  %}
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image w-[calc(100%-40px)] md:w-[calc(100%-150px)]" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.1.0.alt }} ">
										</picture>
									{% endif %}
								</div>
								<div class="fade-in-image-container relative w-full">
									{% if paragraph['#paragraph'].field_team_gallery_image.2  %}
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.2.0.alt }} ">
										</picture>
									{% endif %}
								</div>
							</div>
						</div>
					{% else %}
						<div class="flex flex-row-reverse items-center gap-10 pr-4 md:gap-[150px] md:pr-10">
							<div class="w-[51.6%]">
								{% if paragraph['#paragraph'].field_team_gallery_image.0  %}
									<div class="fade-in-image-container relative w-full">
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.0.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.0.0.alt }} ">
										</picture>
									</div>
								{% endif %}
							</div>
							<div class="flex flex-col w-full gap-[55px] md:gap-[200px]">
								<div class="fade-in-image-container relative">
									{% if paragraph['#paragraph'].field_team_gallery_image.1  %}
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image w-[calc(100%-40px)] md:w-[calc(100%-150px)] md:ml-[150px]" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.1.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.1.0.alt }} ">
										</picture>
									{% endif %}
								</div>
								<div class="fade-in-image-container relative w-full">
									{% if paragraph['#paragraph'].field_team_gallery_image.2  %}
										<picture>
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp">
											<source srcset="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
											<img class="fade-in-image w-full" src="{{ file_url(paragraph['#paragraph'].field_team_gallery_image.2.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_team_gallery_image.2.0.alt }} ">
										</picture>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
