<section  {{ attributes }}> 
{{ title_suffix }}
    <div class="py-[75px] text-fade  px-4 md:py-[150px] md:px-10 flex items-start justify-between flex-col gap-5 md:flex-row">
        <div class="text-content-fade">
            <div class="flex flex-col gap-[20px] md:gap-7 headline-large">
                <span class="span-subline">{{ content.field_slogan.0 }}</span>
                    {{ content.field_title.0 }}
           </div>
        </div>
        <div class="text-content-fade paragraph-text mt-[30px] md:mt-[50px] md:w-1/2">
            <div class="">
                <p class="mb-[70px] md:max-w-[92%]">{{ content.field_description.0 }} </p>
            </div>
            <div class="flex text-content-fade flex-col gap-[70px] ">
            	{%for paragraph in content.field_offer_paragraph %}
            		{% if paragraph['#paragraph'] %}
                	<div class="flex flex-col md:max-w-[92%] text-fade gap-[70px]">
                    	<div class="">
                        	<h4 class="mb-[30px] headline-medium">{{ paragraph['#paragraph'].field_title.0.value }}</h4>
                        	<ul class="flex flex-col gap-1 arrow">
                        		{% for item in paragraph['#paragraph'].field_item %}
                                <div class="flex gap-1">
                                        <p class="text-start mt-[-1px]  text-[15px] text-red-600">›</p>
                                        <li>{{ item.value }}</li>
                                </div>
	                        	{% endfor %}
                        	</ul>
                    	</div>
                	</div>
                	{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>