{#
/**
 *
 * Available variables:
 * - content.field_title: Block title
 * - content.field_customers_paragraph: Contains one paragraph
 * - content.field_customers_paragraph.0['#paragraph'].field_image: Contains paragraph images
 */
#}

<section {{ attributes }}> 
{{ title_suffix }}
    <div class="px-4 py-[75px] bg-lightGray md:px-10 md:py-[150px]">
        <h3 class="flex flex-col gap-5  mb-[60px] headline-large">
            {{ content.field_title[0]['#text'] | striptags }}
        </h3>
        <div class="grid grid-cols-2 gap-2 md:grid-cols-6 md:gap-10">
            {% for image in content.field_customers_paragraph.0['#paragraph'].field_image %}
              <picture>
                <source srcset="{{ file_url(image.entity.fileuri | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp" >
                <source srcset="{{ file_url(image.entity.fileuri | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
                <img class="w-full h-full"src="{{ file_url(image.entity.fileuri) }}" alt="{{ image.value.alt }}">
              </picture>
            {% endfor %}
        </div>
    </div>
</section>
