<section>
    <div class="py-[75px] px-4 md:py-[155px] md:px-10 flex items-start justify-between flex-col gap-5 md:flex-row">
        <div class="text-fade">
            <h3 class="text-[26px] text-content-fade tracking-[1.3px] leading-none flex flex-col gap-5 md:gap-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
                <span class="text-base">{{ content.field_slogan.0 }}</span>
                    {{ content.field_title.0 }}
           </h3>
        </div>
        <div class="text-[15px] leading-[22px] tracking-[0.75px] mt-[60px] md:mt-9 md:w-1/2">
            <div class="text-fade">
                <p class="mb-[100px] text-content-fade">{{ content.field_description.0 }} </p>
            </div>
            <div class="flex flex-col gap-20 ">
            	{%for paragraph in content.field_offer_paragraph %}
            		{% if paragraph['#paragraph'] %}
                	<div class="flex text-fade flex-col gap-7">
                    	<div class="text-content-fade">
                        	<h4 class="text-xl mb-4">{{ paragraph['#paragraph'].field_title.0.value }}</h4>
                        	<ul class="flex flex-col gap-4 arrow">
                        		{% for item in paragraph['#paragraph'].field_item %}
                        		<li>{{ item.value }}</li>
	                        	{% endfor %}
                        	</ul>
                    	</div>
                	</div>
                	{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>