{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}




<section {{ attributes }}> 
{{ title_suffix }}
    <div  class="relative items-center h-screen overflow-x-hidden">
        <div class="absolute top-0 left-0 w-screen h-screen -z-10">
            <picture>
                <source srcset="{{ file_url(content.field_image.0['#item'].entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp" >
                <source srcset="{{ file_url(content.field_image.0['#item'].entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
                <img src="{{ file_url(content.field_image.0['#item'].entity.uri.value) }}" alt="" class="object-cover w-full h-full">
            </picture>
            <div class="absolute top-0 left-0 z-10 w-full h-full bg-darkBlue bg-opacity-70"></div>
        </div>
        <h1 class="md:w-[60%] w-full  absolute -z-10 top-1/2 left-4 -translate-y-1/2 flex flex-col gap-7 text-white text-[35px] tracking-[1.5px] leading-[44px] hyphens-manual md:gap-9 md:text-[60px] md:left-11 md:leading-[70px] md:tracking-[3px]">
            <span class="text-[12px] leading-[17px] md:text-[16px] md:leading-[21px]">{{ content.field_slogan.0["#text"]|striptags }}</span>
            {{ content.field_title.0["#text"]|raw }}
        </h1>
        <img class="absolute -translate-x-1/2 bottom-9 left-1/2" src="/{{ base_path ~ directory }}/images/arrow-header.svg" alt="arrow down">
    </div>
</section>
