<section {{ attributes }}> 
{{ title_suffix }}
    <div class="text-fade">
            <div class="text-content-fade flex flex-col justify-center px-4 py-[75px] md:py-[150px] md:w-[60%] md:mx-auto">
                <h2 class="headline-large flex flex-col gap-5 ">
                    <span class=" span-subline ">{{ content.field_slogan.0 }}</span>
                    {{ content.field_title[0]['#text'] | striptags }}
                </h2>
                <p class="paragraph-text tracking-wide mt-[50px] mb-[50px]">
                    {{ content.field_paragraph[0] }}
                </p>
                <a class="w-fit group archon-span relative h-10 flex gap-4 z-10 pr-6 items-center rounded-[40px] overflow-hidden" href="{{ content.field_link_cta[0]['#url']}}">
                    <span class="absolute left-0 top-0 -z-10 h-full w-0 rounded-[40px] bg-mainRed group-hover:w-full"></span>
                    <span class="flex items-center justify-center h-full rounded-full aspect-square bg-mainRed"><img  src="/{{ base_path ~ directory }}/images/arrow-black.svg"></span>
                    {{ content.field_link_cta[0]['#title'] }}
                </a>
            </div>
    </div>
</section>
