{#
/**
 *
 * Available variables:
 * - content.field_title: Block title
 * - content.field_impressions_paragraph: Contains images
 */
#}
<section {{ attributes }}> 
{{ title_suffix }}
    <div class="flex flex-col gap-10 mt-[150px] mb-[100px] md:my-[150px]">
        <h3 class=" px-4 md:px-7 headline-large">
            {{ content.field_title[0]['#text'] | striptags }}
        </h3>
        <div id="image-carousel" class="splide " aria-label="Beautiful Images">
             <div
                    class="splide__arrows relative md:w-fit left-1/2 flex -translate-x-1/2 md:left-3/4 gap-8 md:top-16 z-10">
                    <button id="prev-button"
                        class="splide__arrow splide__arrow--prev absolute left-full -translate-x-[275%] top-10 md:-translate-x-0 md:top-0 md:-left-[150px] -translate-y-1/2 opacity-100 w-[50px] h-[50px] bg-white rounded-full flex justify-center items-center hover:opacity-100 hover:scale-125"
                        type="button" aria-label="Previous slide" aria-controls="splide01-track">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.371" height="10.824"
                            viewBox="0 0 9.371 10.824">
                            <path id="Pfad_29233" data-name="Pfad 29233"
                                d="M0,0V1.633L3.993,3.938V8.561l1.414.816V3.122Z"
                                transform="translate(4.688) rotate(30)" fill="#e63229" />
                        </svg>
                    </button>
                    <button id="next-button"
                        class="splide__arrow splide__arrow--next absolute right-0 -translate-x-1/2 top-10 md:top-0 -translate-y-1/2 opacity-100 w-[50px] h-[50px] bg-white rounded-full flex justify-center items-center hover:opacity-100 hover:scale-125"
                        type="button" aria-label="Next slide" aria-controls="splide01-track">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.371" height="10.824"
                            viewBox="0 0 9.371 10.824">
                            <path id="Pfad_29233" data-name="Pfad 29233"
                                d="M0,0V1.633L3.993,3.938V8.561l1.414.816V3.122Z"
                                transform="translate(4.688) rotate(30)" fill="#e63229" />
                        </svg>
                    </button>
                </div>
             <div class="splide__track image_slider">
                <ul class="splide__list ">
                {% for image in content.field_impressions_images %}
                    {% if image['#item'] %}
                    <li class="splide__slide flex flex-col ">
                      <picture>
                        <source srcset="{{ file_url(image['#item'].entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp" >
                        <source srcset="{{ file_url(image['#item'].entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
                        <img class="object-cover w-full h-full" src="{{  file_url(image['#item'].entity.uri.value) }}" alt="{{ image['#item'].alt }}">
                      </picture>
                        <p class="title-html hidden" > {{ image['#item'].title }}</p>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
                <div class="md:pl-[25%] pl-[18px]   mt-[20px] md:mt-[20px] paragraph-text flex">
                    <div class="flex gap-2" id="title-num"></div>
                    <p class="md:ml-[77px] ml-[23px] text-left" id="title"> </p>
                <div>
            </div>
        </div>

    </div>
</section>


