  <section class="bg-lightGray">
    {% if image_url %}
         <div class="relative fade-in-image-container h-[30vh] md:h-screen">
             <picture>
               <source srcset="{{ image_url['large_webp'] }}" media="only screen and (max-width: 450px)" type="image/webp" >
               <source srcset="{{ image_url['large_jpg'] }}" media="only screen and (max-width: 450px)" type="image/jpeg" >
               <source srcset="{{ image_url['original_webp'] }}" media="only screen and (min-width: 450px)" type="image/webp">
               <source srcset="{{ image_url['original_jpg'] }}" media="only screen and (min-width: 450px)" type="image/jpeg">
               <img class="w-full fade-in-image h-full object-cover" src="{{ image_url['original_jpg'] }}" alt="">
             </picture>
        </div>
    {% endif %}
        <div class="flex flex-col text-fade items-start px-4 py-[75px] gap-[60px] md:px-10 md:py-[150px] md:flex-row md:justify-between">
            <div class="text-fade">
                <h3 class="text-content-fade md:w-[272px] flex flex-col gap-[50px]  headline-large">
                    {{ title }}
                    <span class="paragraph-text font-['buch']">{{ description }} </span>
                </h3>
            </div>
            <div class="flex flex-col  md:w-[75%] lg:w-2/3 mb-[70px] text-content-fade ">
                <div class="flex  flex-col gap-5   md:mb-[91px]">
                   {% for job in career_array %}
                    <div class="">
                        <a href="{{path('entity.node.canonical', {'node': job.nid})}}" class=" flex items-center justify-between bg-white  gap-5 px-5 pt-[30px] pb-[29px] md:px-8">
                            <div class="flex flex-col gap-[15px]">
                                <h5 class="headline-medium">{{ job.job_title }}</h5>
                                <p class="paragraph-text font-['buch']">{{ job.job_experience }}</p>
                            </div>
                            <img class="w-5 h-5" src="../../../themes/custom/bksi/assets/bilder/arrows-navigation/arrow-textlinks.svg" alt="">
                        </a>
                    </div>
                         {% endfor %}
                </div>
                <div class="flex flex-col md:gap-[35px] gap-[37px]">
                    <div class="">
                        <h3 class=" headline-large flex flex-col gap-5 md:gap-7 ">
                            {{ footer_title }}
                        </h3>
                    </div>
                    <div class="">
                        <p class="
                          text-left paragraph-text">{{ footer_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
