
{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set counter = 0 %} 
<section>
  <div class="relative items-center h-screen overflow-x-hidden">
    <div class="absolute top-0 left-0 w-screen h-screen -z-10">
      <img src="{{ file_url(content.field_project_header_image.0['#item'].entity.uri.value) }}" alt="{{ content.field_project_header_image.0['#item'].alt }}" class="object-cover w-full h-full">
      <div class="absolute top-0 left-0 z-10 w-full h-full bg-black bg-opacity-70"></div>
    </div>
    <h1 class="w-[73.14%] absolute top-1/2 left-4 -translate-y-1/2 flex flex-col gap-7 text-white text-[35px] tracking-[1.5px] leading-normal hyphens-manual md:gap-9 md:text-[70px] md:left-11 md:leading-tight md:tracking-[3px]">
      {{ node.label }}
    </h1>
    <img class="absolute -translate-x-1/2 bottom-9 left-1/2" src="/{{ base_path ~ directory }}/images/arrow-header.svg" alt="arrow down">
  </div>

  <div class="grid grid-cols-1 items-start text-[15px] leading-[22px] tracking-[0.75px] md:grid-cols-2">
    <div class="pl-4 pr-10 py-20 bg-lightGray flex flex-col md:px-40 md:pt-[200px] md:pb-60 md:sticky top-0">
      <div class="text-fade">
        <h3 class="text-content-fade text-[26px] tracking-[0.3px] mb-[50px] md:text-[35px] md:tracking-[1.75px] md:leading-[39px]">
          {{ 'Projekt Eckdaten' | t }}
        </h3>
      </div>
      <div class="text-fade">
        <div class="flex flex-col gap-3 text-content-fade">
          <span class="project-type">{{ content.field_project_type[0]["#title"] }}</span>
          <div class="flex flex-col">
            {% if content.field_project_sector[0]["#title"] or content.field_project_service[0]["#title"] %}
              <h5>{{ 'Leistungsbild:' | t }}</h5>
              <span class="flex ">{{  content.field_project_sector[0]["#title"] }} , {{ content.field_project_service[0]["#title"] }}</span>
            {% endif %}
          </div>
          <div class="flex flex-col">
            {% if content.field_customer[0]["#title"] %}
              <h5>{{ 'Bauherr:' | t }}</h5>
              <span>{{ content.field_customer[0]["#title"] }}</span>
            {% endif %}
          </div>
          <span> {{ content.field_project_period[0]['#markup'] }} - {{ content.field_project_period[1]['#markup'] }}</span>
          <span>{{ content.field_bgf }}</span>
        </div>
      </div>
    </div>
    <div class="pt-20 pb-56 md:pt-[200px] md:pb-[300px]">
      <div class="text-fade">
        <article class="text-content-fade flex flex-col gap-32 px-4 md:pl-[100px] md:pr-28">
          <div class="flex flex-col gap-5">
            <h4 class="text-xl">{{ content.field_project_description_title }}</h4>
            <p>{{ content.field_project_description }}</p>
          </div>
          <div class="flex flex-col gap-5">
            <h4 class="text-xl">{{ content.field_project_challange_title }}</h4>
            <p>{{ content.field_project_challenges }}</p>
          </div>
        </article>
      </div>
      <div class="fade-in-image-container mt-28 mb-24 h-[50vh] md:h-full w-auto">
        <img class="object-cover w-full h-full " src="{{  file_url(content.field_project_challenge_image.0['#item'].entity.uri.value) }}" alt="{{content.field_project_challenge_image.0['#item'].alt}}">
      </div>
      <div class="text-fade">
        <article class="text-content-fade flex flex-col gap-32 px-4 md:pl-[100px] md:pr-28">
          <div class="flex flex-col gap-5">
            <h4 class="text-xl">{{ content.field_sustainability_issue_title }}</h4>
            <p>{{ content.field_sustainability_issues }}</p>
          </div>
        </article>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="flex flex-col gap-10 mt-[150px] mb-[100px] md:my-[150px]">
    <h3 class="text-[26px] tracking-[1.3px] leading-none px-4 md:px-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
      {{ 'Büro Impressionen' | t }}
    </h3>
    <div id="image-carousel" class="splide " aria-label="Beautiful Images">
      <div class="splide__arrows">
        <button id="prev-button" class="splide__arrow  splide__arrow--prev absolute opacity-100 top-0 left-full -translate-x-[300%] translate-y-1/2  w-[50px] h-[50px] bg-white rounded-full flex justify-center items-center hover:opacity-100 hover:scale-125 md:translate-x-[150%] md:left-1/2"
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track">
          <svg xmlns="http://www.w3.org/2000/svg" width="9.371" height="10.824" viewBox="0 0 9.371 10.824">
            <path id="Pfad_29233" data-name="Pfad 29233" d="M0,0V1.633L3.993,3.938V8.561l1.414.816V3.122Z" transform="translate(4.688) rotate(30)" fill="#e63229"/>
          </svg>
        </button>
        <button id="next-button" class="splide__arrow  splide__arrow--next absolute opacity-100 top-0 left-full -translate-x-[150%] translate-y-1/2 w-[50px] h-[50px] bg-white rounded-full flex justify-center items-center hover:opacity-100 hover:scale-125 md:translate-x-[300%] md:left-1/2"
                type="button"
                aria-label="Next slide"
                aria-controls="splide02-track">
          <svg xmlns="http://www.w3.org/2000/svg" width="9.371" height="10.824" viewBox="0 0 9.371 10.824">
            <path id="Pfad_29233" data-name="Pfad 29233" d="M0,0V1.633L3.993,3.938V8.561l1.414.816V3.122Z" transform="translate(4.688) rotate(30)" fill="#e63229"/>
          </svg>
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list ">
          {% for image in content.field_project_image %}
            {% if image['#item'] %}
                         
              <li class="splide__slide flex flex-col ">
                <img class="object-cover w-full h-full" src="{{  file_url(image['#item'].entity.uri.value) }}" alt="{{ image['#item'].alt }}">
                          
                  <p class="title-html hidden" > {{ image['#item'].title }}</p>
              
              </li>
            {% endif %}
          {% endfor %}        
        </ul>
        <div class="pl-[25%] flex gap-4 items-center">
            <span id="title-num"></span>
            <p id="title"> </p>
        <div>
      </div>
    </div>
  </div>

</section>

<section class="bg-lightGray px-4 py-[75px] md:px-10 md:py-[150px] ">

     <div class="random-projects grid grid-cols-1 gap-[75px] md:grid-cols-2 md:gap-10"></div>
     <a class="max-w-fit group relative h-10 flex gap-4 z-10 pr-6 items-center rounded-[40px] overflow-hidden mx-auto mt-28" href="/projects">
         <span class="absolute left-0 top-0 -z-10 h-full w-0 rounded-[40px] bg-mainRed group-hover:w-full"></span>
         <span class="flex items-center justify-center h-full rounded-full aspect-square bg-mainRed"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
         {{ 'Zur Projektübersicht' | t }}
     </a>

</section>

