<div class="relative items-center h-screen overflow-x-hidden">
    <div class="absolute top-0 left-0 w-screen h-screen -z-10">
        <div class="absolute top-0 left-0 z-10 w-full h-full bg-darkBlue"></div>
    </div>
    <div class="absolute flex flex-col items-center justify-between gap-10 text-white -translate-y-1/2 right-4 top-1/2 left-4 md:flex-row md:left-11 md:right-[178px]">
        <div class="w-1/2">
            <h1 class="flex flex-col -z-10 gap-7 w-[80.7%] text-[5vw] tracking-[1.5px] leading-normal md:gap-9 md:leading-tight md:tracking-[3px]">
                <span class="text-xs md:text-base">{{ content.field_job_description.0 }}</span>
                {{ content.field_job_title.0 }}
            </h1>
            <p class="text-xl mt-28 md:mt-12">{{ content.field_job_experience.0 }}</p>
        </div>
        <div>
            <div class="group w-[134px] aspect-square rounded-full bg-mainRed flex items-center justify-center text-center text-darkBlue -rotate-12 hover:scale-125">
                <a href="#anchor-form" class="group-hover:scale-[85%] max-w-[133px] md:text-[15px] md:leading-[19px] md:tracking-[0.75px]">
                    {{ content.field_apply_anchor.0 }}
                </a>
            </div>
        </div>
    </div>
    <img class="absolute bottom-9 left-1/2 -translate-x-1/2" src="/{{ base_path ~ directory }}/assets/bilder/arrows-navigation/arrow-header.svg" alt="arrow down">
</div>

<section>
    <div class="flex flex-col gap-36 px-4 py-[75px] md:px-10 md:py-[150px] md:gap-56 ">
        <div class="flex flex-col items-start justify-between gap-5 md:flex-row">
            <div class="text-fade">
                <h3 class="text-[26px] text-content-fade tracking-[1.3px] leading-none flex flex-col gap-5 md:gap-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
					{{ content.field_what_awaits_you.0 }}
                </h3>
            </div>
            <div class="text-[15px] leading-[22px] tracking-[0.75px] md:w-1/2">
         		<div class="text-fade">
                    <ul class="flex flex-col gap-[22px] text-content-fade arrow">                          
                        {% for item in content.field_what_awaits_you_descriptio %}
  							{% if item['#context'] %} 
   								<li class="flex gap-[25px]">                                  
                                   <p class="text-start mt-[-1px] text-[15px] text-red-600">›</p>
                                  <div class="text-left" >  {{ item}}</div>
                                </li>              
  							{% endif %}
						{% endfor %}
					</ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start justify-between gap-5 md:flex-row">
            <div class="text-fade">
                <h3 class="text-[26px] text-content-fade tracking-[1.3px] leading-none flex flex-col gap-5 md:gap-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
                    {{ content.field_what_bksi_offer.0 }}
                </h3>
            </div>
            <div class="text-[15px] leading-[22px] tracking-[0.75px] md:w-1/2">
                <div class="text-fade">
                    <ul class="flex flex-col gap-[22px] text-content-fade arrow">
                        {% for item in content.field_what_bksi_offer_descriptio %}
  							{% if item['#context'] %} 
   								<li class="flex  gap-[25px]">
                                    <p class="text-start mt-[-1px]  text-[15px] text-red-600">›</p>
                                   <div class="text-left" > {{ item}}</div>
                                </li>               
  							{% endif %}
						{% endfor %}								                           
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start justify-between gap-5 md:flex-row">
            <div class="text-fade">
                <h3 class="text-[26px] text-content-fade tracking-[1.3px] leading-none flex flex-col gap-5 md:gap-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
                    {{ content.field_what_we_expect.0 }}
                </h3>
            </div>
            <div class="text-[15px] leading-[22px] tracking-[0.75px] md:w-1/2">
                <div class="text-fade">
                    <ul class="flex flex-col gap-[22px] text-content-fade arrow">
                        {% for item in content.field_what_we_expect_description %}
  							{% if item['#context'] %} 
   								<li class="flex gap-[25px]">
                                    <p class="text-start mt-[-1px]  text-[15px] text-red-600">›</p>
                                    <div class="text-left" >{{ item}}<div>
                                </li>              
  							{% endif %}
						{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<a id="anchor-form"></a>
{{ contact_form }} 
