<section class="relative items-center h-screen overflow-x-hidden">
  <div class="absolute top-0 left-0 w-screen h-screen -z-10">
    <div class="absolute top-0 left-0 z-10 w-full h-full bg-darkBlue"></div>
  </div>
  <div class="absolute right-4 top-1/2 left-4 -translate-y-1/2 flex flex-col items-center justify-between gap-10 text-white md:flex-row md:left-11 md:right-[100px]">
    <div class="order-2 md:order-1 md:w-[55%]">
      <h1 class="flex flex-col -z-10 gap-7 text-[35px] tracking-[1.5px] leading-normal md:gap-9 md:text-[70px] md:leading-tight md:tracking-[3px]">
        <span class="text-xs md:text-base">{{ node.label }}</span>
        {{ content.field_service_title.0 }}
      </h1>
    </div>
    <div class="  order-1 md:order-2  min-w-[250px] md:w-[650px] h-[270px] w-[275px] md:h-[700px] md:h-full relative">
      <img class="w-full h-full" src="{{ content.field_service_icon.0 }}" alt=""></div>
  </div>
</section>

<section class="bg-white text-fade">
  <div class="text-content-fade flex flex-col justify-center px-4 py-[75px] md:max-w-[842px] md:mx-auto md:py-[150px]">
    <h3 class="text-[26px] tracking-[1.3px] leading-none flex flex-col gap-5 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
      {{ content.field_service_slogan.0 }}
    </h3>
    <article class="text-[15px] leading-[22px] tracking-wide mt-14 flex flex-col gap-5">
      <p>{{ content.field_service_description.0 }}</p>
    </article>
  </div>
</section>

<section class="bg-mainRed text-fade">
  <div class="text-content-fade flex flex-col items-center justify-center px-4 py-[75px] text-center md:max-w-[816px] md:mx-auto md:py-[150px]">
    <h2 class="text-[26px] tracking-[1.3px] leading-none flex flex-col gap-5 mb-9 md:text-[35px] md:leading-10 md:tracking-[1.75px] md:mb-0">
      <span class="text-[13px]">{{ 'Kontakt' | t }}</span>
      {{ content.field_contact_slogan.0 }}
    </h2>
    <img class="w-56 mb-8" src="/{{ base_path ~ directory }}/images/bilder/arrows-navigation/arrow-kontaktmodul.svg" alt="">
    <div class="flex flex-col text-xl leading-6 gap-2 mb-[105px]">
      <span>
        {{ 'Ansprechpartner' | t }} <br>
        {% for key, person in content.field_contact_person %}
          {% if person['#type'] %}
            {% if key != 0 %}
              &nbsp; & &nbsp;
            {% endif %}
            {{ person }}
          {% endif %}
        {% endfor %}
      </span>
      <a href="tel:+: {{ content.field_telefon.0 }}">{{ 'Telefon:' | t }} {{ content.field_telefon.0 }}</a>
      <a href="mailto:info@bksi.de">{{ 'E-Mail:' | t }} {{ content.field_email.0 }}</a>
    </div>
  </div>
</section>
