<section class="relative items-center h-screen overflow-x-hidden">
  <div class="absolute top-0 left-0 w-screen h-screen -z-10">
    <div class="absolute top-0 left-0 z-10 w-full h-full bg-darkBlue"></div>
  </div>
  <div class="absolute right-4 top-1/2 left-4 -translate-y-1/2 flex flex-col items-center justify-between gap-10 text-white md:flex-row md:left-11 md:right-[123px]">
    <div class="order-2 md:order-1 md:w-[55%]">
      <h1 class="flex flex-col -z-10 gap-[2px] text-[35px] tracking-[1.5px] leading-normal md:gap-[24px] md:text-[4vw] md:leading-tight md:tracking-[3px]">
        <span class="text-[12px] leading-[17px] tracking-[0.6px] md:text-[14px] md:leading-[18px] md:tracking-[0.7px]">{{ node.label }}</span>
        {{ content.field_service_title.0 }}
      </h1>
    </div>
    <div class="  order-1 md:order-2  min-w-[250px] md:w-[650px] h-[270px] w-[275px] md:h-[700px] md:h-full relative">
      <img class="w-full h-full" src="{{ content.field_service_icon.0 }}" alt=""></div>
  </div>
</section>

<section class="bg-white text-fade">
  <div class="text-content-fade gap-[50px] flex flex-col justify-center px-4 py-[75px] md:max-w-[842px] md:mx-auto md:py-[150px]">
    <h3 class="headline-large flex flex-col  ">
      {{ content.field_service_slogan.0 }}
    </h3>
    <div class="flex flex-col">
      <div class="paragraph-text flex flex-col gap-5">{{ content.field_service_description.0 }}</div>
    </div>
  </div>
</section>

<section class="bg-mainRed text-fade">
  <div class="text-content-fade flex flex-col items-center justify-center px-4 py-[75px] text-center md:max-w-[816px] md:mx-auto md:py-[150px]">
    <h2 class="text-[26px] tracking-[1.3px] leading-[29px] flex flex-col gap-[22px]  md:text-[35px] md:leading-[39px] md:tracking-[1.75px] md:mb-0">
      <span class="span-subline">{{ 'Kontakt' | t }}</span>
      {{ content.field_contact_slogan.0 }}
    </h2>
    <img class="w-56 mb-[32px]" src="/{{ base_path ~ directory }}/images/bilder/arrows-navigation/arrow-kontaktmodul.svg" alt="">
    <div class="font-['halbfett'] flex flex-col  text-[20px] tracking-[1px] leading-[24px] leading-6 gap-[30px] ">
      <span>
        {{ 'Ansprechpartner' | t }} <br>
        {% for key, person in content.field_contact_person %}
          {% if person['#type'] %}
            {% if key != 0 %}
              &nbsp; & &nbsp;
            {% endif %}
            {{ person }}
          {% endif %}
        {% endfor %}
      </span>
      <a class="!font-['halbfett']" href="tel:+: {{ content.field_telefon.0 }}">{{ 'Telefon:' | t }} {{ content.field_telefon.0 }}</a>
      <a class="!font-['halbfett']" href="mailto:info@bksi.de">{{ 'E-Mail:' | t }} {{ content.field_email.0 }}</a>
    </div>
  </div>
</section>

<section>
    {% for paragraph in content.field_company_details %}
        {% if paragraph['#paragraph'] %}
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:items-center">
            {% if paragraph['#paragraph'].field_image_align.value | raw == "left"  %}
            <div class="order-1 relative fade-in-image-container w-full h-[50vh] lg:h-full overflow-hidden">
            {% else %}
            <div class="order-1 relative fade-in-image-container w-full h-[50vh] lg:h-full overflow-hidden lg:order-3">
            {% endif %}      
                <picture>
                        <source srcset="{{ file_url(paragraph['#paragraph'].field_image.entity.uri.value | image_style('large_webp')) }}" media="only screen and (max-width: 450px)" type="image/webp" >
                        <source srcset="{{ file_url(paragraph['#paragraph'].field_image.entity.uri.value | image_style('original_webp')) }}" media="only screen and (min-width: 450px)" type="image/webp">
                        <img class="fade-in-image object-cover h-full w-full" src="{{ file_url(paragraph['#paragraph'].field_image.entity.uri.value) }}" alt="{{ paragraph['#paragraph'].field_image.0.alt }} ">
                    </picture>
            </div>
            <div class="order-2 px-4 py-[75px] bg-white text-fade md:w-1/2 md:mx-auto lg:w-full md:mx-0 md:px-28 md:py-[147px]">
                <div class="text-content-fade ">
                <h2 class="flex flex-col gap-[20px] headline-large pb-[50px]">
                    <span class="span-subline">{{ paragraph['#paragraph'].field_slogan.value }}</span>
                    {{ paragraph['#paragraph'].field_title.value }}
                </h2>
                <p class="paragraph-text mb-[50px]">
                    {{ paragraph['#paragraph'].field_description.value }}
                </p>
                <a class="max-w-fit group relative h-10 flex gap-4 z-10 pr-6 items-center rounded-[40px] overflow-hidden" href="{{ paragraph['#paragraph'].field_link_cta.0.url }}" >
                    <span class="absolute left-0 top-0 -z-10 h-full w-0 rounded-[40px] bg-mainRed group-hover:w-full"></span>
                    <span class="flex items-center justify-center h-full rounded-full aspect-square bg-mainRed"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    {{ paragraph['#paragraph'].field_link_cta.0.value.title }} 
                </a>
                </div>
            </div>
        </div> 
        {% endif %}
    {% endfor %}
</section>
